<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>Alvaro Felipe</mat-card-title>
    <mat-card-subtitle>Budweiser!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://static.globalnoticias.pt/dn/image.jpg?brand=DN&type=generate&name=dn2015_detalhe_topo&id=5401162&source=ng7620160.jpg&w=800&h=450&t=20160921140900"
  alt="Homer Simpson">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
